
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  height: 100vh;
}

.sideBar {
  width: 350px;  
  /* min-width: 250px;  */
  /* height: 100vh;  */
  border-right: 2px solid rgb(122, 121, 121); 
  background-color: rgb(20, 20, 50); 
  /* padding-left: 10px; */
  /* display: flex; */
   /* flex-direction: column; */
  /* align-items: flex-start;  */
  gap: 15px;
}

.main {
  flex-grow: 1;
  /* height: 100vh; */
}

.logo{
  margin-right: 1rem;
}

.brand{
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 15px;
}
.upperSide{
  padding: 2.5rem;
  border-bottom: 2px solid rgb(122, 121, 121); 
  height: 85%;
}

.upperSideTop{
  display: flex;
 margin-bottom: 2.5rem;
 
}

.addbtn{
  height: 2rem;
  padding-right: 1rem;
  
}

.midbtn{
  background: #5a4bff;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 20rem;
  align-items: center;
  display: flex;
   align-content: center;
  justify-content: center; 
 
  border-radius: 0.5rem; 
}
.midbtn:hover {
  background: #4a3aff;
  box-shadow: 0px 4px 10px rgba(245, 245, 247, 0.4);
}
.query {
  display: flex;
  align-items: center;
  gap: 2rem; 
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem; 
  background: rgb(235, 235, 235);
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.query:hover {
  background: rgb(220, 220, 220);
}

.lowerSide{
  padding: 2rem;
  display: flex;
}

.listItems{
  margin: 1rem;  
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.listItemImg{
  padding-left: 1rem;
}

.listItems:nth-child(1)>.listItemImg{
  margin-right: 0.5rem;

}

.listItems:nth-child(3)>.listItemImg{
  margin-right: 0.5rem;
  
}

.main{
  min-height: calc(100vh - 14rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6rem 10rem;
  margin: 0;
}

.chatFooter{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp{
  padding: 0.5rem;
  background: rgba(28,30,58,1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 80rem;
}

.inp>input{
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}
.inp>input, .send{
  background: transparent;
  border: none;
}

.chatFooter>p{
  margin: 2rem 0;
}